body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.image-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin: auto;
  width:max-content;
 
}

.image-card {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-card img:hover {
  transform: scale(1.1);
}
